<ion-view view-title="{{ 'speakerDetails' | translate }}">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="images/ionic-creator.png">
                <h1 class="text-center">this is test tiltkle</h1>
                <p>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                </p>
            </div>
            <div class="item item-body">
                <h1 class="text-center">Seesions</h1>
                <article ng-repeat="session in [0,1,2,3]">
                    <h2>Internet Explorer 9</h2>
                    <p>Windows Internet Explorer 9（简称 IE9）于 2011 年 3 月 14 日发布.....</p>
                </article>
            </div>
        </div>
    </ion-content>
</ion-view>
