<ion-view view-title="{{'speaker' | translate}}">
    <ion-content>
    <div class="list card" ng-repeat="speaker in speakers">

  <a class="item item-avatar item-icon-right" href="#/katana/conference/speaker/{{speaker.id}}">
    <img ng-src="{{speaker.profilePicture}}">
    <h2>{{speaker.name}}</h2>
    <div>{{speaker.location}}</div>
    <i class="icon ion-ios-arrow-right"></i>
  </a>

  <div class="item item-divider">
    {{'session' | translate}}
  </div>

  <a class="item item-icon-right" href="#">
    Call Ma
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <a class="item item-icon-right" href="#">
    Call Ma
    <i class="icon ion-ios-arrow-right"></i>
  </a>
    <a class="item item-icon-right" href="#">
    Call Ma
    <i class="icon ion-ios-arrow-right"></i>
  </a>
    <a class="item item-icon-right" href="#">
    Call Ma
    <i class="icon ion-ios-arrow-right"></i>
  </a>
  <div class="item item-body">
    <p>
      This is a "Facebook" styled Card. The header is created from a Thumbnail List item,
      the content is from a card-body consisting of an image and paragraph text. The footer
      consists of tabs, icons aligned left, within the card-footer.
    </p>
<!--     <p>
      <a href="#" class="subdued">1 Like</a>
      <a href="#" class="subdued">5 Comments</a>
    </p> -->
  </div>

  <div class="item tabs tabs-secondary tabs-icon-left">
    <div class="tab-item active" href="#">
      <i class="icon ion-thumbsup"></i>
      Like
    </div>
    <div class="tab-item active" href="#">
      <i class="icon ion-ios-chatboxes-outline"></i>
      Comment
    </div>
    <div class="tab-item active" ng-click="shareSpeaker()">
      <i class="icon ion-share"></i>
      {{'share' | translate}}
    </div>
  </div>

</div>
    </ion-content>
</ion-view>
