<ion-view view-title="{{'about' | translate}}">
    <ion-content>
        <div class="list card">
            <div class="item item-body">
                <img class="full-image" src="images/ionic-platform.png">
                <h1 class="text-center">Thisi si a conferdn</h1>
                <h2 class="text-center">
                    <i class="icon ion-calendar assertive"></i> 05/17/2016 - 05/19/2016
                    <i class="icon ion-location assertive"></i> Madison, WI
                </h2>
                <article>
                    This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer. This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer. This is a "Facebook" styled Card. The header is created from a Thumbnail List item, the content is from a card-body consisting of an image and paragraph text. The footer consists of tabs, icons aligned left, within the card-footer.
                </article>
            </div>
        </div>
    </ion-content>
</ion-view>
