<ion-view view-title="{{ 'sessionDetails' | translate }}">
<ion-content>
<div class="list card">
    <div class="item item-divider">
        <h1>{{session.name}}</h1>
    </div>
    <div class="item item-body">
        <h2>{{session.speakerNames.join(',')}}</h2>
        <h2>{{session.location}}</h2>
        <article>
            {{session.description}}
        </article>
    </div>
    <div class="item tabs tabs-secondary tabs-icon-left">
        <div class="tab-item active">
            <i class="icon ion-ios-help-outline"></i> Like
        </div>
        <div class="tab-item active">
            <i class="icon ion-ios-chatboxes-outline"></i> Comment
        </div>
        <div class="tab-item active" ng-click="openModal()">
            <i class="icon ion-ios-help-outline"></i>
            {{'question' | translate}}
        </div>
    </div>
</div>
</ion-content>
</ion-view>