<ion-view view-title="{{'exam' | translate}}">
<ion-content>
<div class="list">
  <a class="item item-thumbnail-left" href="#/katana/exam/1111">
    <img src="images/yeoman.png">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </a>
  <a class="item item-thumbnail-left" href="#">
    <img src="images/yeoman.png">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </a>
  <a class="item item-thumbnail-left" href="#">
    <img src="images/yeoman.png">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </a>
  <a class="item item-thumbnail-left" href="#">
    <img src="images/yeoman.png">
    <h2>Pretty Hate Machine</h2>
    <p>Nine Inch Nails</p>
  </a>
</div>
</ion-content>
</ion-view>
