<ion-view>
<ion-header-bar align-title="center" class="bar-default">
  <h1 class="title">{{'introduction' |  translate}}</h1>
  <div class="buttons">
  <a class="button icon-right ion-ios-fastforward button-clear button-positive" ng-click="startKatana()"></a>
  </div>
</ion-header-bar>
<ion-content>
<ion-slide-box on-slide-changed="slideHasChanged($index)">
  <ion-slide>
  <div class="text-center">
          <h2>Welcome</h2>
      <p>All of the information you need to get up and running with Ionic.</p>
      <div class="logo">
        <img src="images/ionic-welcome.png"/>
      </div>
      </div>
  </ion-slide>
  <ion-slide>
    <div class="text-center">
            <h2>Ionic View</h2>
      <p>Learn how you can use Ionic View to share your apps.</p>
      <div class="logo">
        <img src="images/ionic-view.png"/>
      </div>
      </div>
  </ion-slide>
  <ion-slide>
    <div class="text-center">
            <h2>Ionic Creator</h2>
      <p>Drag-&-drop to create a great Ionic app with the click of a mouse.</p>
      <div class="logo">
        <img src="images/ionic-creator.png"/>
      </div>
      </div>
  </ion-slide>
</ion-slide-box>
</ion-content>
</ion-view>
