<ion-modal-view>
    <ion-header-bar>
 <h1 class="title">{{'conference' | translate}}</h1>
  <div class="buttons">
    <button class="button button-icon icon ion-ios-close-empty" ng-click="closeModal()">
    </button>
  </div>
        
    </ion-header-bar>
    <ion-content>
        <div class="list card">
            <div class="item item-avatar">
                <img src="images/yeoman.png">
                <h2>MSD China 会议</h2>
                <h3>{{getAccountName()}}</h3>
                <div>
                  November 25, 2015  
                </div>
            </div>
            <div class="item item-body">
                <div class="list">
                    <label class="item item-input">
                        <input type="text" placeholder="问题分类" ng-model="interview.title">
                    </label>
                    <label class="item item-input">
                        <textarea placeholder="问题描述" ng-model="interview.comment"></textarea>
                    </label>
                </div>
            </div>
            <div class="item item-divider">
                请注意您的问题必须与此次演讲相关，谢谢
            </div>
            <button class="button button-block button-positive" ng-click="askQuestion()">
                提问
            </button>
        </div>
    </ion-content>
</ion-modal-view>
