	<ion-popover-view>
		<ion-header-bar>
		<h1 class="title">{{'settings' | translate}}</h1>
		</ion-header-bar>
		<ion-content>
			<div class="list">
			    <a class="item item-icon-left" href="#">
			        <i class="icon ion-chatbubble-working"></i>
			        Call Ma
			    </a>
			    <a class="item item-icon-left" href="#">
			        <i class="icon ion-mic-a"></i>
			        Record album
			    </a>
			    <a class="item item-icon-left" href="#">
			        <i class="icon ion-person-stalker"></i>
			        Friends
			        <span class="badge badge-assertive">0</span>
			    </a>
			</div>
		</ion-content>
	</ion-popover-view>
