<ion-view view-title="{{ 'account' | translate }}">
<ion-content>
<div class="list">
  <a class="item item-avatar" href="#">
    <img src="images/yeoman.png">
    <h2>Steven.Xu</h2>
    <div>微信号: test1989</div>
  </a>
  <a class="item item-icon-right" href="#">
    <i class="icon ion-ios-arrow-right"></i>
    名称
    <span class="item-note">
      徐玉强
    </span>
  </a>
  <a class="item item-icon-right" href="#">
    <i class="icon ion-ios-arrow-right"></i>
    微信号
    <span class="item-note">
      nonumber1989
    </span>
  </a>
  <a class="item item-icon-right" href="#">
    <i class="icon ion-ios-arrow-right"></i>
    我的二维码
    <span class="item-note">
      nonumber1989
    </span>
  </a>
  <div class="item item-divider">
  </div>
  <a class="item item-icon-right" href="#">
    <i class="icon ion-ios-arrow-right"></i>
    我的地址
    <span class="item-note">
      男
    </span>
  </a>
  <a class="item item-icon-right" href="#">
    <i class="icon ion-ios-arrow-right"></i>
    地区
    <span class="item-note">
      nonumber1989
    </span>
  </a>
  <a class="item item-icon-right" href="#">
    <i class="icon ion-ios-arrow-right"></i>
    个性签名
    <!--     <span class="item-note item-text-wrap">
      让我来测试时十八感觉不豆瓣的的厚度和年度互动和 nonumber1989我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我
    </span> -->
    <span class="item-note">
      让我来测试时十八感觉不豆瓣的的厚度和年度互动和 nonumber1989我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我我
    </span>
  </a>
</div>
</ion-content>
</ion-view>
<style type="text/css">
.test{
text-align: end;
}
</style>
