<ion-tabs class="tabs-striped tabs-top tabs-icon-top tabs-color-positive">
    <ion-tab title="{{'signIn' | translate}}" icon="ion-ios-calendar-outline" ui-sref="tachi.account.signIn">
        <ion-nav-view name="signInContent">
        </ion-nav-view>
    </ion-tab>

    <ion-tab title="{{'signUp' | translate}}" icon="ion-ios-people-outline" ui-sref="tachi.account.signUp">
        <ion-nav-view name="signUpContent">
        </ion-nav-view>
    </ion-tab>
</ion-tabs>
