<ion-view view-title="{{'settings' | translate}}">
    <ion-content>
        <div class="list">

            <div class="item item-divider">
            是否允许记录您的个人信息
            </div>

            <ion-toggle ng-repeat="item in settingsList"
                        ng-model="item.checked"
                        ng-checked="item.checked">
                {{ item.text }}
            </ion-toggle>

            <div class="item item-divider">
                地区
            </div>


            <a class="item" href="#/katana/region">
                语言选择
                    <span class="item-note">
                     {{getLanguageText(account.language)}}
                    </span>
            </a>

            <div class="item item-divider">
                关于Smart Conference
            </div>
            <div class="item">
                License
            </div>
        </div>
    </ion-content>
</ion-view>
