<ion-view view-title="{{'signIn' | translate}}">
    <ion-content>
        <form>
            <div class="list">
                <label class="item item-input">
                    <span class="input-label">{{'cellphone' | translate}}</span>
                    <input type="tel" ng-model="account.username" required>
                </label>
                <label class="item item-input">
                    <span class="input-label">{{'password' | translate}}</span>
                    <input type="password" ng-model="account.password" required >
                </label>
            </div>
            <button class="button button-block button-positive" ng-click="signIn()">{{ 'signIn' | translate }}</button>
        </form>
    </ion-content>
</ion-view>
