<ion-side-menus enable-menu-with-back-views="false">
    <ion-side-menu-content>
        <ion-nav-bar class="bar-stable">
            <ion-nav-back-button></ion-nav-back-button>
            <ion-nav-buttons side="left">
                <button class="button button-icon button-clear ion-navicon" menu-toggle="left">
                </button>
            </ion-nav-buttons>
            <ion-nav-buttons side="right">

            <div class="button button-icon icon ion-ios-chatboxes-outline" ng-click="openPopover($event)"></div>
            </ion-nav-buttons>
        </ion-nav-bar>
        <ion-nav-view name="menuContent"></ion-nav-view>
    </ion-side-menu-content>
    <ion-side-menu side="left">
        <ion-header-bar class="bar-default">
            <h1 class="title">{{'conference' | translate}}</h1>
        </ion-header-bar>
        <ion-content>
            <ion-list>
                <ion-item nav-clear menu-close class="item-avatar" href="#/katana/account">
                    <img src="images/yeoman.png">
                    <h2>蔡杰</h2>
                    <div>我是蔡杰</div>
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/katana/settings">
                    <i class="icon ion-ios-cog-outline"></i> {{'settings' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/katana/conference/schedule">
                    <i class="icon ion-ios-people-outline"></i> {{'conference' | translate}}
                </ion-item>
                <ion-item nav-clear menu-close class="item-icon-left" href="#/katana/exams">
                    <i class="icon ion-ios-compose-outline"></i> {{'exam' | translate}}
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
</ion-side-menus>
